body { margin : 0 }
#main-header {
    height: 75px;
    box-shadow: 0 0 5px #333;
    background: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-link {
        display: inline-block;
        padding: 10px 15px;
        background: crimson;
        color: white;
        text-decoration: none;
        &.is-active{
            background: teal;
        }
    }
}
.main-sct {
    display: none;
}

#sct-random {
    box-sizing: border-box;
    padding: 25px;
    justify-content: center;
    figure{ 
        box-shadow: 0 0 3px #333;
        padding: 5px;
        max-width: 80%;
        img {
            max-width: 100%;   
        }        
    }
}