@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Serif&display=swap');

body{
  margin: 0;
  h1,h2,h3,h4,h5,h6, button {
    font-family: 'Lato', sans-serif;
  }
  article, footer, p {
    font-family: 'Noto Serif', serif;
  }
}