.content-container {
    max-width: 900px;
    box-sizing: border-box;
    border: 1px solid #333;
    background-color: white;
    border-radius: 4px;
    margin: 25px auto 50px;
    padding: 25px;
}