body {
  align-items: center;
  display: flex;
  height: 200vh;
  justify-content: center;
  margin: 0;
}

.container {
  border: 1px solid black;
  height: 500px;
  position: relative;
  width: 500px;
}

.cuadrito {
  background: crimson;
  height: 100px;
  position: absolute;
  /*
    valores posibles:
    1. absolute
    2. relative
    3. fixed
    4. static
  */
  bottom: 20px;
  right: 10px;
  width: 100px;
}

.cuadrito-2 {
  background: teal;
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
}